<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Decentralized Voting App</title>

  <link href="{{url_for('static', filename='css/materialize.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/home_styles.css')}}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
  <nav>
    <div class="nav-wrapper blue darken-3">
      <a href="{{url_for('homepage')}}" class="brand-logo title-style">Decentralized Voter</a>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="flashes col s12">
        {% for message in messages %}
        <li>
          <p class="small-font center">{{ message }}</p>
        </li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </div>
    <div class="row">
      <div class="col s4 card-panel white-text blue-grey darken-3">
        <ul class="collection-with-header">
          <li class="collection-header">
            <p class="small-font white-text title-style">Vote Count</p>
          </li>
          {% for candidate in candidates %}
          <li class="collection-item row">
            <p class="very-small-font candidate-name col s10"><strong>{{candidate}}</strong></p>
            <p class="very-small-font white-text col s2">{{votes[loop.index0]}}</p>
          </li>
          {% endfor %}
      </div>
      <div class="col s4"></div>
      <div class="col s4 card white-text blue-grey darken-3">
        <ul class="collection-with-header">
          <li class="collection-header">
            <p class="small-font white-text title-style">Vote</p>
          </li>

          {% for candidate in candidates %}
          <li class="collection-item row">
            <form class="block-style" action="{{url_for('send_vote', candidate = candidate)}}" method="POST">
              <p class="very-small-font candidate-name col s8">{{candidate}}</p>
              <input class="col s4 btn amber darken-1" type="submit" value="Vote">
            </form>
          </li>
          {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>
